.mainContainer {
    background-color: #EE9251;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    background-color: #99B6D4;
    background-image: url('../public/images/services/signup.svg');
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 33%;
    position: relative;
}

.leftContent {
    width: 31%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.imageContent {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(119, 46, 46, 0.51);
    border-radius: 10px;
    width: 90%;
    height: 80px;
}

.imageContent h1 {
    font-size: 26px;
}

.textContent {
    margin-top: auto;
    margin-bottom: 100px;
    height: 10%;
    width: 100%;
    font-size: 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textContent > * {
    margin: 0;
}

.form {
    width: 69%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #F2F2F2;
    padding: 10px 100px;
    border-radius: 40px 0 0 40px;
    position: relative;
}

.form h2 {
    font-size: 30px;
    font-style: italic;
}

.formInputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input {
    width: 20vw;
    padding: 20px 10px;
    border: none;
    border-radius: 7px;
    font-size: 20px;
}

.label p {
    margin-bottom: 0;
}

.form p {
    color: #3F3F3F;
    margin-bottom: 0;
}

.formCheckboxes {
    width: 100%;
}

.formCheckboxes .label {
    display: flex;
    align-items: center;
}

.selectServices {
    width: 100%;
}

.button {
    width: 20rem;
    padding: 25px 0;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.button:hover {
    background-color: #3F3F3F;
}

@media (max-width: 1350px) {
    .mainContainer {
        height: auto;
        padding: 150px 0 ;
    }

    .leftContent {
        display: none;
    }

    .content {
        background-image: none;
        justify-content: center;
    }

    .form {
        border-radius: 40px;
        height: auto;
    }

    .input {
        width: 18rem;
    }

    .button {
        margin: 50px 0;
    }
}

@media (max-width: 768px) {
    .content {
        display:flex;
        justify-content: center;
        align-items: center;
        height: auto;
        background-color: #EE9251;
    }

    .form {
        width: 80vw;
        height: auto;

    }

    .form > * {
        display: flex;
        justify-content: center;
    }

    .form h2 {
        width: 60vw;
    }


    .selectServices {
        display: flex;
        flex-direction: column;
        width: 60vw;
    }

    .servicesDropdown {
        width: 30%;
    }

    .button {
        width: 60vw;
    }
}