.mainContainer {
  position: relative;
  display: flex;
  flex-direction: column;
}

.hero {
  position: relative;
  height: 100vh;
}

.video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.heroContent {
  position: relative;
  padding-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heroContent h1 {
  font-size: 500%;
  margin: 1%;
}

.heroContent p {
  font-size: 150%;
  font-weight: 500;
}

.learnmoreButton {
  margin-top: 5%;
  background-color: black;
  border-radius: 0.3rem;
  padding: 1.5rem 8rem;
  display: inline-block;
}

.learnmoreText {
  color: white;
}

.about {
  position: relative;
  height:60vh;
  background-color: #253143;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about h3 {
  font-size: 150%;
}

.about p {
  width: 40%;
  text-align: center;
}

.partners {
  background-color: #99B6D4;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 110vh;
}

.partners h3 {
  font-size: 170%;
  font-weight: bold;
}

.partners p {
  margin: 0;
}

.partnerCardsGroup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; /* Add this to position children absolutely */
  overflow: hidden; /* Hide overflow content */
  width: 350px;
  height: 500px; /* Set the height of the visible frame */
}

.partnerCardContainer {
  position: absolute;
  top: 10%;
  left: 50%; /* Center the card horizontally */
  transform: translateX(-50%); /* Adjust horizontal position to truly center */
  width: 250px; /* Set a fixed width or use a percentage */
  height: 250px; /* Set a fixed height */
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.partnerCardsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Add this CSS to your styles/utils.module.css file */
.buttonCircle {
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-right: 10px; /* For the previous button */
  margin-left: 10px; /* For the next button */
}

.buttonCircle:hover {
  background-color: #e0e0e0;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.left {
  transform: rotate(135deg);
}

.right {
  transform: rotate(-45deg);
}

/* Add these styles for the transition animations */
.cardTransition-enter {
  opacity: 0;
  transform: translateX(100%);
}

.cardTransition-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}

.cardTransition-exit {
  opacity: 1;
  transform: translateX(0);
}

.cardTransition-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 300ms, transform 300ms;
}

.slideEnterFromRight {
  transform: translateX(100%);
}

.slideEnterFromLeft {
  transform: translateX(-100%);
}

.slideEnterActive {
  transform: translateX(0);
  transition: transform 300ms ease-in-out;
}

.slideExit {
  transform: translateX(0);
}

.slideExitToLeft {
  transform: translateX(-100%);
  transition: transform 300ms ease-in-out;
}

.slideExitToRight {
  transform: translateX(100%);
  transition: transform 300ms ease-in-out;
}

.services {
  background-color: #F2F2F2;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 160vh;
}

.accolades {
  position: relative;
  display: flex;
}

.accolades .C10Icon {
}

.accolades .text {
  background-color: black;
  color: white;
  padding-left: 2vw;
  width: 30vw;
  margin: 0;
  flex: 1;
}

.accolades h4 {
  margin-top: 5%;
  margin-bottom: 0;
}

.accolades p, .accolades a {
  padding-left: 1vw;
}

.accolades p {
  margin-top: 0;
  font-size: 2em;
  line-height: 1.2;
}

.accolades a {
  color: white;
  font-size: 90%;
}

.servicesCards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
  grid-row-gap: 8em;
}

.services h3 {
  font-size: 250%;
}

.testimonials {
  background-color: #99B6D4;
}

.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactUs {
  background-color: #99B6D4;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  background-color: #253143;
  height: 40vh;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.footerLinks {
  display: flex;
  justify-content: space-between;
  width: 75%;
  align-items: center;
}

.footerLinks a {
  color: white;
}

.footerBorder {
  background-color: #EE9251;
  width: 80%;
  height: 0.5%;
}

.socialMedia {
  display: inline-flex;
  border-radius: 50%;
  border: 2px solid #EE9251;
  padding: 10px;
  margin: 5px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.socialMediaX {
  display: inline-flex;
  border-radius: 50%;
  border: 2px solid #EE9251;
  padding: 10px;
  margin: 5px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #000000;
}







.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: #666;
}
