.container {

  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  position: fixed;
  display: flex;
  width: 100%;
  background-color: #EE9251;
  justify-content: space-between;
  padding: 0.5rem 0;
  z-index: 1000;
}

.navbar a {
  text-decoration: none;
}

.leftNav {
  display: flex;
  margin-left: 2%;
  justify-content: space-between;
  align-items: center;
  width: 30rem;
}

.leftNav a:hover {
  text-decoration: underline;
}

.alphacorsiNav, .otherNav {
  color: black;
}

.alphacorsiNav {
  font-weight: 800;
}

.otherNav {
  font-weight: 500;
}

.rightNavButton {
  margin-right: 2%;
  background-color: black;
  border-radius: 0.3rem;
  padding: 0 1rem;
  text-decoration: none;
  transition: background-color 0.2s ease;
}

.rightNavButton:hover {
  background-color: #252525;
}

.contactUsNav {
  color: white;
  font-weight: 400;
  height: 0.5rem;
  display: flex;
  align-items: center;
}

.hamburger {
  display: none;
  margin-left: 5px;
  background-color: #8d8d8d;
  border-radius: 50px;
  border: 1px solid black;
}

@media (max-width: 768px) {

  .navbar {
    position: fixed;
    display: flex;
    width: 100%;
    background-color: #EE9251;
    justify-content: space-between;
    padding: 0.5rem 0;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
  }

  .leftNav {
    margin-top: 20px;
    display: flex;
    margin-left: 2%;
    justify-content: space-between;
    width: 30rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .hamburger {
    display: flex;
  }

  .rightNavButton {
    position: absolute;
    right: 2%;
  }

  .alphacorsiNav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
  }
}
