.orb {
    width: 45px;
    height: 45px;
    border: 2px solid #EE9251;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    transition: transform .2s; /* Animation */
}

.orb:hover {
    transform: scale(1.1); /* Slightly enlarge the orb when hovered */
    box-shadow: 0 0 10px #EE9251; /* Add a glow effect */
}

.imageContainer {
    width: 100%;
    height: 100%;
    position: relative;
}

.imageContainer img {
    object-fit: cover; /* Resize the image to cover the container */
    width: 100%;
    height: 100%;
}
